input,
textarea,
select,
button,
.button {
    font-size: 1rem;
    padding: .6rem;
    display: block;
    width: 250px;
    margin-bottom:1rem;
}

.project-images {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    justify-content: left;
    gap: .2rem;
    margin: 1rem 0 1rem 0;
}

.project-images > div {
    display: grid;
    place-items: center;
    position: relative;
}

.project-images>div h3 {
    position: absolute;
    color: white;
    font-size: 2rem;
    ;
}


.project-images img {
    height:250px;
    width: 100%;
    object-fit:cover;
}

.edit-icons {
    cursor: pointer;
    transform: scale(1.5);
}

button,
.button {
    cursor: pointer;
    background-color: black;
    color: white;
    display: block;
}

.button {
    background: white;
    border: 1px solid #111;
    color: #111;
    text-align: center;
    margin-top: 1rem;
}

textarea {
    width: 100%;
    min-height: 8rem;
}

.edit {
    animation: slideIn .6s ease;
}

.checks {
    display: grid;
    background: #f4f4f8;
    grid-template-columns: 1fr 4fr;
    margin: 1rem 0 1rem 0;
    padding: .6rem;
}

@keyframes slideIn {
    from {
        transform: translateX(100%);
    }

    to {
        transform: translateX(0);
    }
}

@media (max-width:1000px){
    input,
    textarea,
    select,
    button,
    .button {
        width: 100%;
    }    
}